.map__image{
    
    width: 45%;
    float: left;
    margin-top: 5%;
    margin-left: -100px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
   
}

.map__image path{
    
    fill:   #c7e9f9;
    stroke: white;
    stroke-width: 2px;
    transition: fill 0.3s;
}

.map__image path:hover{
    
    fill: #285771;
}

.video{

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1; 
    background-size: contain;
    

}

body {
    
    max-width: 100%;
    overflow-x: hidden;  
    max-height: 100vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
    
}

h1 {
    
    font-family: "quicksand", sans-serif;
    color: white;
    text-shadow: 2px 2px #285771;
    margin-left: 5px;
} 

.box-container{
    
    width: 450px;
    height: 50px;
    justify-content: space-around;
    margin-top: 15%;
    
}

.citytemp{

    display: flex;
    font-family: "quicksand", sans-serif;
    font-weight: 550;
    font-size: 1.5em;
    font-style: normal;
    color :  #285771 ;
    
   
}

#city{
    
    text-align: center;
    margin-right: 40px; 
    margin-top: 20px;
}

#temp{

    margin-top: 20px;
    text-align: center;
    
}

.windhumidity{

    display: flex;
    font-family: "quicksand", sans-serif;
    font-weight: 550;
    font-size: 1.2em;
    font-style: normal;
    color: #285771;
    text-align: center;

}

#wind{

    margin-right: 40px; 
    margin-top: 20px;

}

#humidity{

    margin-top:20px;

}

#infos-container{
   
    border : solid #285771;
    border-radius: 10px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.374);
    
}

#nom{
    
    font-family: "quicksand", sans-serif;
    font-weight: 600;
    font-size: 1em;
    color : #285771;
    text-align: center;
    margin-bottom: 20px;
    padding: 2%;
    
}

#changement{
    
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    color: #285771;
    text-align: center;
    margin-bottom: 30px;
    padding: 2%;
    
}

#sources{
    
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 0.8em;
    color: #285771;
    text-align: center;
    padding-bottom: 2%;
    

}

.box{
    
    width: 150px;
    height: 55px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between; 
    border: solid #285771;
    border-radius: 10px;
    font-size: 1em;
    margin: 5px;
    margin-left:35px;

}

#intro{

    position: absolute;
    left: 750px;
    right: 50px;
    top: 30%;
    bottom: 250px;
    font-family: "quicksand", sans-serif;
    font-weight: 500 ;
    font-size: 1.5em;
    color: #285771;
    

}